<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github-21st-century-emulation" value="https://nuget.pkg.github.com/21st-century-emulation/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github-21st-century-emulation>
            <add key="Username" value="%GITHUB_USER%" />
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
        </github-21st-century-emulation>
    </packageSourceCredentials>
</configuration>